<table>
  <thead>
  <th>SNo.</th>
  <th>Team Name</th>
  <th>Score</th>
  </thead><%@teams.each_with_index do |team, index|%>
      <tr>
        <td><center><%=index+1%></center></td>
        <td><center><%=team.name%></center></td>
        <td><center><%=team.score%></center></td>
      </tr>
  <%end%>
</table>
<%= will_paginate @teams %>