<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Knowlarity Foosball</a>
    </div>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="players">Players</a></li>?
      <li><a href="teams">Teams</a></li>?
      <li><a href="matches">Matches</a></li>?

    </ul>
  </div>
</nav>

</body>
</html>
